/* Blog Section */
.blog-section {

    h4 {
        font: {
            size: 2.4rem;
            weight: 400;
        }
        text-transform: initial;
        margin: 1.5rem 0;
    }
}

.blog {
    @extend .gallery; // flex parent
    margin-top: $home-section-padding;
    margin-bottom: 0;

    @media (max-width: 1015px) {
        flex-direction: column;
    }

    // Set article width to half the page
    .post {
        width: 50%;

        // Swap visual order of img with .post-preview for every 3rd and 4th post
        &:nth-child(3n) img,
        &:nth-child(4n) img {
            order: 1;
        }

        // Swap visual order of img with .post-preview for every 2nd post
        @media (max-width: 1015px) {
            width: 100%;

            &:nth-child(2n) img {
                order: 1;
            }

            &:nth-child(3n) img {
                order: initial;
            }
        }

        // Revert to source order on mobile
        @media (max-width: 525px) {
            &:nth-child(2n) img {
                order: initial;
            }
        }
    }


    article {
        display: flex; // parent

        img,
        .post-preview {
            width: 50%;
        }

        img {
            @include object-fit(cover);
        }

        @media (max-width: 525px) {
            flex-direction: column;

            img,
            .post-preview {
                width: 100%;
            }
        }
    }
}

.post-preview {
    background: $post-preview-bg;
    padding: 2rem 3rem;
    position: relative; // positioning pseudo-elements absolutely

    display: flex; // parent
    flex-direction: column;

    .subheading {
        color: $contrast-color;
        margin: 0;
    }
    
    .read-more {
        color: $contrast-color;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: auto; // flex child - push to bottom of flex container
    
        .fa {
            margin-left: 1.4rem;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.post {
    .post-preview {
        // Set up blog post triangles (pointing left by default)
        &::before {
            content: "";
            display: block;
            height: 0;
            width: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include blog-arrow-left;
        }
    }

    // Make 2nd row triangles point right
    &:nth-child(3),
    &:nth-child(4) {
        .post-preview::before {
            @include blog-arrow-right;
        }
    }

    // Re-arrange arrows for alternating, single-line articles
    @media (max-width: 1015px) {
        // Every second odd numbered post
        &:nth-child(2n-1) {
            .post-preview::before {
                @include blog-arrow-left;
            }
        }
        // Every second even numbered post
        &:nth-child(2n) {
            .post-preview::before {
                @include blog-arrow-right;
            }
        }
    }

    // Reposition arrows to top of post preview, pointing up at blog image
    @media (max-width: 525px) {
        &:nth-child(1n) { // Override previous nth-child selectors
            .post-preview::before {
                border-top: 25px solid transparent;
                border-bottom: 25px solid $post-preview-bg;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                left: 50%;
                right: initial;
                top: -50px;
                transform: translate(-50%, 0);
            }
        }
    }
}