/* Blog Section */
.blog-section {

    h4 {
        font: {
            size: 2.4rem;
            weight: 400;
        }
        text-transform: initial;
        margin: 1.5rem 0;
    }
}

.blog {
    @extend .gallery; // flex parent
    margin-top: $home-section-padding;
    margin-bottom: 0;

    @media (max-width: 1015px) {
        flex-direction: column;
    }

    // Set article width to half the page
    .post {
        width: 50%;

        // Swap visual order of img with .post-preview for every 3rd and 4th post
        &:nth-child(3n) img,
        &:nth-child(4n) img {
            order: 1;
        }

        // Swap visual order of img with .post-preview for every 2nd post
        @media (max-width: 1015px) {
            width: 100%;

            &:nth-child(2n) img {
                order: 1;
            }

            &:nth-child(3n) img {
                order: initial;
            }
        }

        // Revert to source order on mobile
        @media (max-width: 525px) {
            &:nth-child(2n) img {
                order: initial;
            }
        }
    }


    article {
        display: flex; // parent

        img,
        .post-preview {
            width: 50%;
        }

        img {
            @include object-fit(cover);
        }

        @media (max-width: 525px) {
            flex-direction: column;

            img,
            .post-preview {
                width: 100%;
            }
        }
    }
}

.post-preview {
    background: $post-preview-bg;
    padding: 2rem 3rem;
    position: relative; // positioning pseudo-elements absolutely

    display: flex; // parent
    flex-direction: column;

    .subheading {
        color: $contrast-color;
        margin: 0;
    }
    
    .read-more {
        color: $contrast-color;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: auto; // flex child - push to bottom of flex container
    
        .fa {
            margin-left: 1.4rem;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    // Set up blog post triangles
    &::before,
    &::after {
        content: "";
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    &::before {
        border-left: 25px solid transparent;
        border-right: 25px solid $post-preview-bg;
        left: -50px;
    }

    &::after {
        display: none;
        border-left: 25px solid $post-preview-bg;
        border-right: 25px solid transparent;
        right: -50px;
    }
}

// Show/hide blog post triangles
.post {
    &:nth-child(3n),
    &:nth-child(4n) {
        .post-preview::before {
            display: none;
        }
        .post-preview::after {
            display: block;
        }
    }

    // Turn on/off arrows for alternating, single-line articles
    @media (max-width: 1015px) {
        &:nth-child(2n) {
            .post-preview::before {
                display: none;
            }
            .post-preview::after {
                display: block;
            }
        }
        &:nth-child(2n-1) {
            .post-preview::before {
                display: block;
            }
            .post-preview::after {
                display: none;
            }
        }
    }

    // Turn off RIGHT arrows and repurpose LEFT arrow as UP arrow
    @media (max-width: 525px) {
        &:nth-child(1n) { // Override previous nth-child selectors
            .post-preview::before {
                display: block;
                border-bottom: 25px solid $post-preview-bg;
                border-top: 25px solid transparent;
                border-left: 25px solid tranparent;
                border-right: 25px solid transparent;
                top: -50px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .post-preview::after {
                display: none;
            }
        }
    }
}