/* Counter Section */
.counter-section {
    background: $counter-bg;
    padding: ($home-section-padding * 0.0375) 0;
}

.counter {
    display: flex; // parent
    flex-flow: row wrap;
    justify-content: space-around;

    text-align: center;
    font-size: 4.8rem;
    letter-spacing: 3px;
    color: #ffffff;

    margin: 0;

    li {
        margin: 43px 0;

        &::after {
            @include pseudo-line(#909090, 0.3rem, 5.3rem);
            margin: auto auto;
        }

        @media (max-width: 768px) {
            width: 50%;
        }
    
        @media (max-width: 400px) {
            width: 100%;
        }
    }
    
}

.counter-item {
    @include crimson;
    font: {
        size: 1.8rem;
        style: italic;
    }
    letter-spacing: 2px;
    display: block;
    margin: 3.3rem 0;
}