/* Features Section */

.features {
    display: flex; // parent
    flex-flow: row wrap;
}

.feature {
    width: (100% / 3);
    padding: 4.9rem 0 1.5rem 0;

    display: flex; // parent

    .feature-icon {
        color: $contrast-color;
        font-size: 3.7rem;
        padding: 0 4.6rem 0 2.3rem;
    }

    h4 {
        margin: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-bottom: 1px solid $border-color;
    }
}