/* Features Section */

.features-intro {
    display: flex; // parent
    justify-content: space-between;

    .features-intro-text {
        width: 55%;
    }
}

.person-details {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $contrast-color;
    margin-top: 3.5rem;

    &::before {
        content: "";
        display: block;
        height: 1px;
        background: $contrast-color;
        width: 6.1rem;
        margin-bottom: 1rem;
    }
}

.person-name {
    letter-spacing: 0.1rem;
}

.person-title {
    @include crimson;
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.features {
    display: flex; // parent
    flex-flow: row wrap;
}

.feature {
    width: (100% / 3);
    padding: 4.9rem 0 1.5rem 0;

    display: flex; // parent

    .feature-icon {
        color: $contrast-color;
        font-size: 3.7rem;
        padding: 0 4.6rem 0 2.3rem;
    }

    h4 {
        margin: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-bottom: 1px solid $border-color;
    }
}