/* Footer */
.footer {
    background: $footer-bg;
    color: $font-color-footer;
    padding-top: $home-section-padding / 2;

    h5 {
        color: #ffffff;
        text-transform: uppercase;
        font: {
            size: 1.2rem;
            weight: 400;
        }
        margin-top: 0;
    }

    a {
        color: $font-color-footer;
        &:hover {
            color: $accent-color;
        }
    }
}

.footer-main,
.footer-bottom {
    display: flex; // parent
}

// Footer Main

.footer-main {
    > div {
        padding: 0 30px 0 20px;

        &:first-child {
            padding-left: 0;
            padding-right: 60px;
        }
        &:last-child {
            padding-right: 0;
        }

        // Dividers
        position: relative;
        &::before {
            @include pseudo-line(#2e2e2e, 100%, 1px);
            position: absolute;
            left: -10px;
        }
        // Hide divider on first div in footer
        &:first-child::before {
            display: none;
        }
    }

    @media (max-width: 920px) {
        flex-flow: row wrap;

        > div {
            padding-bottom: 40px;
        }
    }
}

.footer-about {
    width: 38%;
    font-size: 1.2rem;

    @media (max-width: 920px) {
        width: 70%;
    }

    h5 {
        color: $accent-color;
    }

    .footer-logo {
        opacity: 0.15;
        margin-top: 1rem;
    }

}

.footer-links {
    width: 16%;

    @media (max-width: 920px) {
        width: 30%;
    }

    a {
        font-size: 1rem;
        text-transform: uppercase;
    }

    li {
        margin-bottom: 1.5rem;
    }
}

.footer-twitter {
    width: 22%;

    @media (max-width: 920px) {
        width: 70%;
    }
}

.footer-instagram {
    width: 24%;

    @media (max-width: 920px) {
        width: 30%;
    }
}

.twitter-widget {
    font-size: 1.1rem;
}

.tweet {
    margin-bottom: 2rem;
}

.tweet-meta {
    color: $font-color-copyright;
}

.instagram-widget {
    display: flex; // parent
    flex-flow: row wrap;
    justify-content: space-between;

    li {
        display: flex; // parent
        background: #414141;
        height: 70px;
        width: 70px;
        margin-bottom: 25px;

        font-size: 1.8rem;
        color: #ffffff;

        .fa {
            margin: auto; // child
            display: none;
        }

        &:hover {
            background: $accent-color;

            .fa {
                display: block;
            }
        }
    }
}

// Footer Bottom

.footer-bottom {
    justify-content: space-between;
    align-items: center;

    color: $font-color-copyright;
    text-transform: uppercase;
    
    margin-top: 60px;

    a {
        color: $font-color-copyright;
    }

    @media (max-width: 675px) {
        flex-direction: column;
    }
}

.copyright {
    font-size: 1.1rem;

    @media (max-width: 675px) {
        order: 1;
        text-align: center;
    }
}

.social-icons {
    width: 25%;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;

    a {
        color: $font-color-social;
    }

    @media (max-width: 675px) {
        width: 70%;
    }    
}