/* Gallery */

.gallery-filter {

    margin: 40px;

    ul {
        display: flex; // parent
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;

        @media (max-width: 480px) {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
        }
    }

    li {
        @extend .button;
        font-size: 1rem;
        margin: 10px;

        // Remove extra letter spacing for a single character item
        &:last-child {
            letter-spacing: 0;
        }

        &:hover {
            background: transparent;
            border-color: $accent-color;
            color: $contrast-color;
            cursor: pointer;
        }
    }

}

.gallery {
    display: flex; // parent
    flex-flow: row wrap;

    li {
        width: 25%;

        @media (max-width: 768px) {
            width: 33.33%;
        }

        @media (max-width: 700px) {
            width: 50%;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    img {
        display: block;
    }
}