/* Gallery */

.gallery-filter {

    margin: 40px;

    ul {
        display: flex; // parent
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;

        @media (max-width: 480px) {
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
        }
    }

    li {
        @extend .button;
        font-size: 1rem;
        margin: 10px;

        // Remove extra letter spacing for a single character item
        &:last-child {
            letter-spacing: 0;
        }

        &:hover {
            background: transparent;
            border-color: $accent-color;
            color: $contrast-color;
            cursor: pointer;
        }
    }

}

.gallery {
    display: flex; // parent
    flex-flow: row wrap;

    background: $border-color;

    li {
        width: 25%;

        @media (max-width: 768px) {
            width: 33.33%;
        }

        @media (max-width: 700px) {
            width: 50%;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    a,
    img {
        display: block;
    }
}

.gallery-image {
    position: relative;

    img {
        transition: filter 0.3s ease;
    }

    &:hover,
    a:focus {
        .gallery-caption {
            opacity: 1;
        }
        img {
           @include filter(brightness(0.7));
        }
    }

    // Show gallery image caption by default on mobile
    @media (max-width: 480px) {
        .gallery-caption {
            opacity: 1;
        }
        img {
            @include filter(brightness(0.7));
        }
    }
}

.gallery-caption {
    opacity: 0; // hide by default
    transition: opacity 0.3s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #ffffff;

    p {
        margin: 10px 0;
        line-height: 1.5;
    }
}

.gallery-category {
    @include crimson;
    font: {
        size: 1.8rem;
        style: italic;
    }
}

.gallery-image-title {
    font: {
        size: 1.5rem;
        weight: 700;
    }
    text-transform: uppercase;
}