/* Globals */
html {
    font-size: 10 / 16 * 100%;
}

body {
    background: $bg;
    @include montserrat;
    font-size: $font-size;
}

// Remove default padding
ul {
    padding: 0;
}

.wrapper {
    max-width: $site-width;
    margin: 0 auto;
}