/* Globals */
html {
    font-size: 10 / 16 * 100%;
}

body {
    background: $bg;
    color: $font-color;
    @include montserrat;
    font-size: $font-size;
}

a {
    text-decoration: none;
}

h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: $contrast-color;
}

h2 {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
}

h3 {
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
    margin: 3.4rem 0;
}

img {
    max-width: 100%;
}

p {
    line-height: (30 / 14); // PSD shows line height of approx 30px
}

blockquote {
    @include crimson;
    font: {
        size: 1.8rem;
        style: italic;
    }
    margin: 3.5rem 0;
}

// Remove default list styles
ul {
    padding: 0;
    list-style: none;
}

.button {
    display: inline-block;
    color: $contrast-color;
    letter-spacing: 0.52rem;
    text-transform: uppercase;
    border: 1px solid $contrast-color;
    // Convert padding to ems so it depends on button font size
    padding: (2.1rem / $font-size * 1em) (3.2rem / $font-size * 1em);
}

// Apply to an element to make it a flex parent
.flex-parent {
    display: flex;
}

.home-section {
    padding-top: $home-section-padding;

    .section-header {
        text-align: center;

        h2,
        .subheading {
            margin: 0;
        }
    }
}

.insignia {
    margin: 25px auto 14px auto;
    position: relative;
    width: 22.5rem;

    &::before,
    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 8rem;
        background: $border-color;
        position: absolute;
        top: 50%;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

.subheading {
    @include crimson;
    font-size: 1.8rem;
    font-style: italic;
}

.wrapper {
    max-width: $site-width;
    margin: 0 auto;
}