/* Header */
header.page-header {
    background: url(../assets/northern-lights.jpg) center/cover no-repeat;
    height: 100vh;
    color: #ffffff;
    position: relative;
    
    // Make wrapper full height
    .wrapper {
        height: 100vh;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    // Prevent crowding on small handheld devices in landscape mode
    @media (orientation: landscape) and (max-width: 698px) {
        height: 200vh;
    }
}

// Top-level layout and styling for site logo and nav block
.navbar {
    display: flex; // Flex parent
    justify-content: space-between;
    align-items: center;

    // Offset from top of page
    padding-top: 50px;

    @media (max-width: 480px) {
        padding-top: 25px;
    }

    a {
        text-transform: uppercase;
    }
    
    li {
        display: inline;
    }

    .fa {
        font-size: 1.2rem;
    }

    // Stack logo and main nav
    @media (max-width: 752px) {
        flex-direction: column;
    }

    @media (max-width: 480px) {
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

// Mobile nav toggle

.nav-toggle {
    z-index: 20;
    .fa {
        font-size: 1.8rem;
    }
    
    // Hide by default
    display: none;

    // Show on mobile
    @media (max-width: 480px) {
        display: flex;
    }
}

input#toggle {
    display: none; // This checkbox stores the state, but is not displayed
}

input#toggle:checked + .navs { // When checked, show adjacent element with class .navs
    top: 0;
}

.logo {
    @media (max-width: 480px) {
        align-self: flex-start;
        width: 100px;
        z-index: 20;
    }
}

// Lay out .main-nav and .secondary-nav side-by-side
.navs {
    display: flex; // parent

    // Add hidden pseudo-elements below navigation links
    a {
        position: relative;
        &::after {
            @include pseudo-line($accent-color, 2px, 100%);
            position: absolute;
            left: 0;
            bottom: -2.5rem;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover,
        &:focus {
            &::after {
            opacity: 1;
            }
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 60px 0 8rem 0;

        background: linear-gradient(to bottom, 
        rgba(0,0,0,0.9), 
        rgba(0,0,0,0.8) 80%, 
        rgba(0,0,0,0.2) 100%);
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        z-index: 10;

        transition: top 0.7s ease-in-out;
    }
}

.main-nav {

    .nav-item {
        padding-left: $nav-item-padding;
        
        // Remove padding from first nav item
        &:first-child {
            padding: 0;
        }
    
        @media (max-width: 910px) {
            padding-left: $nav-item-padding / 2;
        }

        @media (max-width: 544px) {
            font-size: 1.2rem;
            padding-left: $nav-item-padding / 3;
        }

        @media (max-width: 480px) {
            display: block;
            padding-left: 0;
            margin: 1.6rem 0;
            font-size: $font-size;
        }
    }

    .fa {
        padding-left: 1.9rem;
    }

    @media (max-width: 910px) {
        margin: 3rem 0;
    }

    @media (max-width: 480px) {
        margin: 0;
    }
}

.secondary-nav {

    .nav-item {
        padding-left: 75px;
    
        &:last-child {
            padding-left: 30px;
        }
    }

    @media (max-width: 1059px) {
        position: absolute;
        top: 0;
        right: 0;
        padding: ($site-padding/2) $site-padding 0 0; 
    }

    @media (max-width: 480px) {
        position: relative;
        padding: 0;
        margin: 0;

        .nav-item {
            padding: 0;
        }
    }
}

.slider-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider-title {
    font-size: 14rem;
    font-weight: 700;
    margin: 0;
    line-height: 0.9;

    // Secondary font size adapts to size in containing element
    span {
        font-size: (9 / 14) * 1em;
    }

    @media (max-width: 1085px) {
        font-size: 11rem;
    }

    @media (max-width: 885px) {
        font-size: 7rem;
    }

    @media (max-width: 480px) {
        font-size: 4.8rem;
    }
}

.slider-tagline {
    line-height: 1.3;
}

.slider-tagline,
.circle-button {
    @include crimson;
    font-size: 1.8rem;
    font-style: italic;
}

.circle-button {
    height: 8.3rem;
    width: 8.3rem;
    margin-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-flex; // parent
    transition: 
        background-color 0.3s ease,
        color 0.3s ease;

    span {
        margin: auto; // child
    }

    &:hover,
    &:focus {
        background: #ffffff;
        color: $contrast-color;
    }
}

.slider-control {
    position: absolute;
    top: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 5.3rem;
    height: 5.3rem;

    display: flex; // parent

    transition: background-color 0.2s ease;

    // Center the icon
    .fa {
        margin: auto;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    @media (max-width: 752px) {
        top: unset;
        bottom: $site-padding;
        width: 5rem;
        height: 5rem;
    }
}

.slider-control-left {
    left: $slider-control-indent;

    @media (max-width: 752px) {
        left: $site-padding;
    }
}

.slider-control-right {
    right: $slider-control-indent;

    @media (max-width: 752px) {
        right: $site-padding;
    }
}