/* Header */
header.page-header {
    background: url(../assets/northern-lights.jpg) center/cover no-repeat;
    height: 100vh;
    color: #ffffff;
    padding-top: 50px;
    position: relative;
    
    a {
        color: #ffffff;
        text-decoration: none;
    }
    
    nav { // Flex parent
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-transform: uppercase;
        }
        
        .fa {
            font-size: 1.2rem;
        }
    }

    // Add hidden pseudo-elements below navigation links
    .navs a {
        position: relative;
        &::after {
            @include pseudo-line($accent-color, 2px, 100%);
            position: absolute;
            left: 0;
            bottom: -2.5rem;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover::after {
            opacity: 1;
        }
    }

    // Could be used to bump nav links up like in PSD
    // .navs {
    //     position: relative;
    //     top: -10px;
    // }
    
    ul {
        display: inline;
        // border: 1px solid tomato;
    }

    li {
        display: inline;
        padding-left: $nav-item-padding;
    }

    .main-nav .fa {
        padding-left: 1.9rem;
    }

    .secondary-nav li {
        padding-left: 75px;

        &:last-child {
            padding-left: $nav-item-padding / 2;
        }
    }

    .wrapper {
        height: 100vh;
    }

    .slider-content {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .slider-title {
        font-size: 14rem;
        font-weight: 700;
        margin: 0;
        line-height: 0.9;

        span {
            font-size: 9rem;
        }
    }

    .slider-tagline,
    .circle-button {
        @include crimson;
        font-size: 1.8rem;
        font-style: italic;
    }

    .circle-button {
        height: 8.3rem;
        width: 8.3rem;
        margin-top: 20px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: inline-flex; // parent

        span {
            margin: auto; // child
        }
    }

    .slider-control {
        position: absolute;
        border: 2px solid rgba(255, 255, 255, 0.5);
        padding: 1.55rem 1.95rem;
    }

    .slider-control-left {
        top: 50%;
        left: $slider-control-indent;
    }

    .slider-control-right {
        top: 50%;
        right: $slider-control-indent;
    }

}