/* Intro Section */

.intro-section {

    .subheading {
        margin-top: 0;
    }

    .wrapper {
        display: flex; // parent
        align-items: flex-start; // prevent default vertical stretching
    }
    
}

.intro-content {
    @media (max-width: 480px) {
        text-align: center;
    }
}

.logo-sideways {
    margin: 0 128px;

    @media (max-width: 1100px) {
        margin: 0 64px 0 0;
    }

    @media (max-width: 730px) {
        display: none;
    }
}

.circled-icon {
    font-size: $intro-icon-size;
    height: 6.9rem / 2.8rem * 1em; // Scale circle height if icon size changes
    width: 6.9rem / 2.8rem * 1em; // Scale circle width if icon size changes
    border: 2px solid $border-color;
    border-radius: 50%;
    display: flex; // parent
}

.services {
    color: $contrast-color;
    text-transform: uppercase;
    margin: 40px 0;

    display: flex; // parent
    flex-flow: row wrap;
    justify-content: space-between;

    .fa {
        margin: auto;
    }

    li {
        margin: 1rem 0;

        display: flex; // parent
        align-items: center;

    }

    p {
        margin: 0 2rem;
}

    @media (max-width: 480px) {
        flex-direction: column;
        display: inline-flex;
        margin: 20px auto 40px auto;
    }

}