/* Pricing Section */
.pricing-call-to-action {
    margin: ($home-section-padding / 2) 0;

    @include crimson;
    font: {
        style: italic;
    }
    
    letter-spacing: 0.2rem;

    span {
        @include montserrat;
        color: $contrast-color;
        font: {
            size: 1.8rem;
            style: normal;
            weight: 700;
        }
        text-transform: uppercase;

        &:first-child {
            padding-right: 0.75rem;
        }
        &:last-child {
            padding-left: 0.75rem;
        }
    }
}

.pricing-section {
    padding-bottom: $home-section-padding;
    text-align: center;

    h3 {
        font-size: 1.4rem;
        margin: 0;
        padding: 2.7rem 0;
        border-bottom: 1px solid #ededed;
    }
}

.pricing-panels {
    display: flex; // parent
    justify-content: space-between;

    > li {
        width: 23%;
        border: 1px solid #ededed;
        transition: transform 0.3s ease;

        &:hover {
            // Slide the pricing panel up
            transform: translateY(-30px);

            // Fade in and slide the button down
            .pricing-button {
                transform: translateY(50%);
                opacity: 1;
            } 
        }
    }

    @media (max-width: 850px) {
        flex-flow: row wrap;

        > li {
            width: 48%;
            margin-bottom: 50px;
        }
    }

    @media (max-width: 480px) {
        flex-flow: column nowrap;

        > li {
            width: 100%;
        }
    }
}

.plan-features {
    padding: 3rem 3rem 0 3rem;
    font-size: 1.2rem;

    li {
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .fa {
        color: $accent-color;
    }
}

.plan-price {
    color: $contrast-color;
    margin: 0;
    line-height: 1;
    padding: 6rem 0;

    display: flex; // parent
    justify-content: center;
}

.plan-currency {
    font: {
        size: 1.8rem;
    }

    align-self: flex-start; // child
}
.plan-price-value {
    font: {
        size: 5rem;
    }
    padding: 0 1rem;

    align-self: center; // child
}
.plan-frequency {
    @include crimson;
    letter-spacing: 0.1rem;
    font: {
        style: italic;
    }
    align-self: flex-end; // child
    position: relative;
    top: -0.5rem;
}

.pricing-button {
    @extend .button;
    opacity: 0;
    color: #ffffff;
    background: $contrast-color;
    padding: (1.5rem / $font-size * 1em) (4.5rem / $font-size * 1em);
    transition: 
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out; // is transformed on `.pricing-panels > li:hover`
}