// Variables

$site-width: 1170px;
$site-padding: 20px;

$bg: #ffffff;
$counter-bg: #2f2f2f;
$call-to-action-bg: #323232;
$post-preview-bg: #eaeaea;

$accent-color: #eeb013;
$contrast-color: #141414;
$border-color: #d8d8d8;

$font-size: 1.4rem;
$font-color: #6f6f6f;

// Nav
$nav-item-padding: 60px;

// Header
$slider-control-indent: 60px;

// Home Sections
$home-section-padding: 80px;

// Intro Page
$intro-icon-size: 2.8rem;

// Footer
$font-color-footer: #636363;
$font-color-copyright: #3a3a3a;
$font-color-social: #909090;
$footer-bg: #202020;

@import "partials/setup";
@import "partials/mixins";
@import "partials/globals";
@import "partials/header";
@import "partials/intro-section";
@import "partials/gallery-section";
@import "partials/features-section";
@import "partials/counter-section";
@import "partials/team-section";
@import "partials/testimonials-section";
@import "partials/call-to-action-section";
@import "partials/blog-section";
@import "partials/pricing-section";
@import "partials/footer";