// Variables

$site-width: 1170px;

$bg: #ffffff;
$counter-bg: #2f2f2f;
$call-to-action-bg: #323232;

$accent-color: #eeb013;
$contrast-color: #141414;

$font-size: 1.4rem;
$font-color: #6f6f6f;

// Nav
$nav-item-padding: 60px;

// Header
$slider-control-indent: 60px;

// Footer
$font-color-footer: #636363;
$font-color-copyright: #3a3a3a;
$font-color-social: #909090;
$footer-bg: #202020;

@import "partials/setup";
@import "partials/mixins";
@import "partials/globals";
@import "partials/header";